# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*.DS_Store

# junk
core.*

# vimvim
*.swp
*.swo
*.swn
*.swm
.*.sw*

vim/.netrwhist
vim/black

# latex
*.pdf
*.bcf
*.aux
*.out
*.synctex.gz
*.xml

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# ignore the history files
history.sqlite
history-corrupt.sqlite
dhist

# vim tags
doc/tags

# ignore tmux resurrect
tmux/resurrect

# ignore json
*.json

# ipython security
ipython/profile*/security
ipython/profile_nbserver/security
ipython/Crash_report_ipython.txt

# some links that we can config based on computer
promptline.sh
tmuxline.conf

# ipython can get corrupted histories UGH
ipython/*/history-corrupt*

tags

# jupyter lab ignore workspaces
jupyter/lab/workspaces/*
jupyter/lab/workspaces/lab*
